body {
  background-color: #232323;
}

.square {
  width: 30%;
  background: purple;
  padding-bottom: 30%;
  margin: 1.66%;
  float: left;
}

#container {
  width: 50%;
  margin: 0 auto;
}

h1 {
  color: white;
  font-weight: bold;
  text-align: center;
}

#stripe {
  background: white;
  height: 30px;
  text-align: center;
  color: black;
}
